*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins', sans-serif;
}
.hero{
    background: linear-gradient(rgba(0, 0, 0, 0.568), rgba(0, 0, 0, 0.568)), url('./images/alexandre-debieve-FO7JIlwjOtU-unsplash.jpg');
    background-position: center;
    background-size: cover;
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background-color: white;
    box-shadow: 0px 3px 50px 5px rgb(73, 73, 73);
}
header img{
    width: 90px;
}
header nav a{
    color: black;
    text-decoration: none;
    margin-right: 50px;
    position: relative;
    display: inline-block;
}
nav a::after{
    content:'';
    width: 0;
    height: 2px;
    background: #000656;
    display: block;
    margin: auto;
    transition: 0.5s;
}
nav a:hover{
    text-decoration: none;
}
nav a:hover::after{
    width: 100%;
}
  
.header-text{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    box-shadow: 0px 0px 50px 5px;
}
.header-text h1{
    font-size: 80px;
    text-shadow: 0 0 15px black;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Ensure it's above other elements */
    transition: background-color 0.5s ease;
}
/* about */
#about {
    margin: 15px;
    padding-top: 120px;
}
.section-head{
    text-align: center;
    margin-bottom: 20px;
}
.section-head::after{
    content:'';
    width: 100px;
    height: 2px;
    background: #000656;
    display: block;
    margin: auto;
    transition: 0.5s;
    border-radius: 10px;
}
.about-container{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}
.about-child{
    background-color: #bdbdbd;
    padding: 25px;
    margin: 10px;
    transition: 0.5s;
    border-radius: 5px;
    max-width: 800px;
}
.about-child:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#team{
    padding-top: 120px;
}
.card h2{
    color: black;
}
.card:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.slider-container{
    display: flex;
    justify-content: center;
}
.wrapper {
    max-width: 1100px;
    width: 100%;
    position: relative;
  }
  .wrapper i {
    top: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 1.25rem;
    position: absolute;
    text-align: center;
    line-height: 50px;
    background: #000656;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.23);
    transform: translateY(-50%);
    transition: transform 0.1s linear;
    color: white;
  }
  .wrapper i:active{
    transform: translateY(-50%) scale(0.85);
  }
  .wrapper i:first-child{
    left: -22px;
  }
  .wrapper i:last-child{
    right: -22px;
  }
  .wrapper .carousel{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 16px;
    border-radius: 8px;
    scroll-behavior: smooth;
    scrollbar-width: none;
  }
  .carousel::-webkit-scrollbar {
    display: none;
  }
  .carousel.no-transition {
    scroll-behavior: auto;
  }
  .carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
  }
  .carousel.dragging .card {
    cursor: grab;
    user-select: none;
  }
  .carousel :where(.card, .img) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .carousel .card {
    scroll-snap-align: start;
    height: 342px;
    list-style: none;
    background: #f5f1ff;
    cursor: pointer;
    padding-bottom: 15px;
    flex-direction: column;
    border-radius: 8px;
  }
  .carousel .card .img {
    background: #000656;
    height: 148px;
    width: 148px;
    border-radius: 50%;
  }
  .card .img img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #fff;
  }
  .carousel .card h2 {
    font-weight: 500;
    font-size: 1.56rem;
    margin: 30px 0 5px;
  }
  .carousel .card span {
    color: #6A6D78;
    font-size: 1.31rem;
  }
  
  @media screen and (max-width: 900px) {
    .wrapper .carousel {
      grid-auto-columns: calc((100% / 2) - 9px);
    }
  }
  
  @media screen and (max-width: 600px) {
    .wrapper .carousel {
      grid-auto-columns: 100%;
    }
  }



  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.footer-content {
    text-align: center;
}


a {
    color: #fff;
    text-decoration: none;
    display: block;
    margin-bottom: 4px;
}
a i{
  color: #000656;
}
a:hover {
    text-decoration: underline;
}
@font-face {
  font-family: 'Supercharge Italic Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Supercharge Italic Regular'), url('./images/SuperchargeItalic-ywOWd.woff') format('woff');
}
.blue-head-text {
  font-family: 'Supercharge Italic Regular';
  font-weight: normal;
  color: #00076d;
}

#projects {
  margin-top: 30px;
}
.projects-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}

.project {
  height: 300px;
  width: 300px;
  border-radius: 40px;
  background: linear-gradient(rgba(0, 0, 0, 0.37), rgba(0, 0, 0, 0)), url(./images/sven-d-a4S6KUuLeoM-unsplash.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  padding: 15px;
}

.project:hover .view-project {
  opacity: 1;
}
.project:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.37), rgba(0, 0, 0, 0.342)), url(./images/sven-d-a4S6KUuLeoM-unsplash.jpg);
  background-position: center;
  background-size: cover;
}
.project-name {
  color: white;
  text-align: center;
  font-weight: bold;
  text-shadow: 0 0 20px rgb(0, 0, 0);
}

.view-project {
  background-color: #000656;
  color: white;
  border: none;
  padding: 12px 17px;
  border-radius: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.view-project:hover {
  background-color: #000442;
}